
<h1>{{.PageTitle}}</h1>
<ul>
    {{range .Todos}}
    {{if .Done}}
    <li><input type="checkbox" checked onchange="toggleTodoItem('{{.ID}}')"/><s>{{.Title}}</s></li>
    {{else}}
    <li><input type="checkbox" onchange="toggleTodoItem('{{.ID}}')"/>{{.Title}}</li>
    {{end}}
    {{end}}
</ul>

<div>
    <h2>Add item</h2>

    <input id="title" /><button onclick="addTodo()">Add</button>
</div>
